## Forecasting NBA Player Outcomes for the 2018-19 Season Based off Previous Players

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from scipy.spatial.distance import cdist
from numpy.linalg import inv
from sklearn.kernel_ridge import KernelRidge
from bs4 import BeautifulSoup
from urllib.request import urlopen
from pandas.plotting import scatter_matrix
from IPython.display import display
import seaborn as sns
from sklearn.linear_model import LinearRegression
import pymc3 as pm
from scipy.stats import multivariate_normal
from sklearn.cluster import KMeans
from sklearn.metrics import mean_squared_error

In [16]:
all_player_df = pd.read_csv('all_player_stats.csv')
all_player_df = all_player_df.fillna(0)
all_player_df = all_player_df.sort_values('Player')
all_player_df['PPG'] = all_player_df['PPG'].round(2)

unique_names = all_player_df.Player.unique()

df_dict = {elem : all_player_df for elem in unique_names}

for key in df_dict.keys():
    df_dict[key] = all_player_df[:][all_player_df.Player == key]


for player in df_dict:
    df_dict[player] = df_dict[player].sort_values('Year')
    cols = ['Player', 'Year','G','PPG']
    df_dict[player] = df_dict[player][cols]
    df_dict[player] = df_dict[player].reset_index()
    

df_dict['Kobe Bryant']
# names = all_player_df.drop_duplicates('Player')
# names = names['Player']

    index       Player  Year   G    PPG
0    5672  Kobe Bryant  1997  71   7.59
1    6250  Kobe Bryant  1998  79  15.44
2    6791  Kobe Bryant  1999  50  19.92
3    7306  Kobe Bryant  2000  66  22.50
4    7796  Kobe Bryant  2001  68  28.50
5    8345  Kobe Bryant  2002  80  25.24
6    8836  Kobe Bryant  2003  82  30.01
7    9341  Kobe Bryant  2004  65  23.95
8    9923  Kobe Bryant  2005  66  27.56
9   10505  Kobe Bryant  2006  80  35.40
10  11057  Kobe Bryant  2007  77  31.56
11  11586  Kobe Bryant  2008  82  28.33
12  12188  Kobe Bryant  2009  82  26.84
13  12765  Kobe Bryant  2010  73  26.99
14  13358  Kobe Bryant  2011  82  25.34
15  13953  Kobe Bryant  2012  58  27.86
16  14513  Kobe Bryant  2013  78  27.35
17  15103  Kobe Bryant  2014   6  13.83
18  15698  Kobe Bryant  2015  35  22.34
19  16339  Kobe Bryant  2016  66  17.59

In [14]:
## 2019 data here!
player_dat_2014 = []

for i in range(26):
    df = pd.DataFrame()
    df = pd.read_csv('2014-draft-class/player{}.csv'.format(i))
    df = df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1)
    player_dat_2014.append(df)
    
player_dat_2014[24].head()

,G,Date,Age,Opp,GS,MP,FG,FGA,FG_Perc,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2017,22,6.48,1,35,3,10,0.300,1,...,12,12,7,0,0,4,1,7,5.3,-9
1,2,2017,22,45.48,1,30,0,3,0.000,0,...,9,9,7,1,0,3,4,0,1.9,21
2,3,2017,22,69.91,1,35,9,14,0.643,3,...,7,9,5,1,0,7,4,29,22.2,-1
3,4,2017,22,56.56,1,30,8,12,0.667,1,...,6,12,0,0,0,2,3,18,15.6,-19
4,5,2017,22,68.05,1,34,8,16,0.500,0,...,11,15,5,1,0,2,0,18,18.6,8